body{
    /* background-image: linear-gradient(to top, rgba(54, 93, 18, 0.8),rgba(0,0,0,0.65), rgba(54,93,18,1)); */
    /* background-image: url(../images/613__milwaukee_bucks_by_coffepix_dd6kvbj-350t.jpg); */
    background-color: black;
    display: flex;
    height: 100%;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
.navbar{
    background-color: rgba(54,93,18,0.65);
    padding: 20px;
    height: 100vh;
    color: aliceblue;
}
.nav{
    display: flex; 
}
li a{
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
    margin-left:5px;
    font-size: 20px;
}
a{
    display: flex;
    flex-direction: column;
    color: aqua;
    margin: 90px;
    }
/* ul {
    list-style: none;
    padding-bottom: 550px;
} */
.container p{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* padding-left: 50px; */
    padding-right: 80px;
    text-align: justify;
    width: 90vw;
    height: 80vh;
    transition: flex 5s ease-in;
}
h2{
    font-size: 54px;
}
.wrapper {
    height: 100%;
    background-color: #000;
    /* background: #000; */
    /*This part is important for centering*/
    display: grid;
    place-items: center;
  }
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    line-height: 18px;
    background: url('./images/294788513_10160629099653463_2965258128122452744_n.jpg') fixed center no-repeat;
    background-size: contain;

  }
  p {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.01);
  }
  *{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top, rgba(54, 93, 18, 0.8),rgba(0,0,0,0.65), rgba(54,93,18,1));
    display: flex;
    background-repeat:repeat-y;
    height: 100vh;
    overflow-y: scroll;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
img{
    width: 500px;
    height: 600px;
    background-position-y:bottom;
}
.navbar{
    background-color: rgba(0,0,0,0.65);
    padding: 20px;
    height: 100vh;
    color: aliceblue;
}
.nav{
    display: flex; 
}
li a{
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
    margin-left:5px;
    font-size: 20px;
}
ul {
    list-style: none;
    padding-bottom: 145px;
}
a{
    display: flex;
    flex-direction: column;
    color: aqua;
    margin: 90px;
}
*{
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 90vw;
    transition: flex 5s ease-in;
    width: 200px;
}
div1{
    padding-top: 650px;
}
h6{
    font-size: 14px;
    margin: 5px;
    color: white;
}

@media screen and (min-width:120px) and (max-width:960px){
    .navbar{
        display: flex;
        flex-direction: row;
        background-color: rgba(0,0,0,0.65);
        height: 40vh;
        width: 100vw;
        color: aliceblue;
        /* margin-left: 500px; */
        top: 0;
    }
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-bottom: 1050px;
        align-items: left;
        justify-content: left;
    }
    li a{
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-decoration: none;
        color: aliceblue;
        margin-left:5px;
        font-size: 20px;
    }
    body{
        display: grid;
        overflow-y: scroll;
        overflow-x: hidden;
        background-repeat: no-repeat;
        height: 100%;
        width:min-content;
        margin-left: auto;
        /* margin-bottom: 250px; */
        margin-top: 0;
    }

    .container{
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        overflow-y: scroll;
        /* padding-top: 700px; */
        overflow-x: hidden;
    }
    /* ul{
        align-items: left;
        justify-content: left;
    } */
    a{
        margin: 5px;
    }
    h1{
        padding-left: 50px;
    }
    h4{
        color: white;
        /* padding-top: 850px; */
    }
    h6{
        padding-top: 0px;
    }
    li{
        padding: 8px;
    }
    p{  
        display: flex;
        flex-wrap: wrap;
        min-width: min-content;
        overflow-x: hidden;
    }
    div1{
        color: aliceblue;
        padding-right: 40px;
        padding-bottom: 40px;
        margin: 25 30;
        padding-top: 200px;
    }
}
